.Hero-section{
    background-color: rgba(57, 57, 57, 0.688);
    color: rgb(255, 255, 255);
    background-image: url("../images/bg2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 40vh;

    background-blend-mode: overlay;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.8rem;
    text-align: center;
    font-weight: 200;
}

@media screen and (max-width: 500px) {
    .Hero-section{
        font-size: 1.3rem;
    }
}