.userdetails{
    padding: 0% 5% 5% 5%;
}

.userbio{
    margin-bottom: 10px;
    background-color: #0a3654eb;
    color: white;
    border-radius:5px;
    padding: 10px;
    font-size: larger;
}

.usercreation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
}

.usercreation span{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.usertags h1{
    margin: 20px 5px;
    font-size: 1.5rem;
    font-weight: 500;
}

.userprojects h1{
    margin: 20px 5px;
    font-size: 1.5rem;
    font-weight: 500;
}

.editprofile-button-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}   

.editprofile-button-container button{
    padding: 10px;
    border: 2px solid #0a544a;
    background-color: #0a544acd;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.communicationlinks h1{
    margin: 20px 5px;
    font-size: 1.5rem;
    font-weight: 500;
}

.communicationlinks .card{
    text-decoration: none;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px){
    .userbio{
        font-size: medium;
    }
}

@media screen and (max-width: 300px){
    .editprofile-button-container{
        flex-direction: column;
        gap: 20px;
    }
}