/* Dropdown.css */
.dropdown {
    position: relative;
}
  
.dropdown-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    top: 100%;
    right: 100%;
    width: 100px;
    z-index: 1;
    display: block;
    border: none;
    border-radius: 10px;
  }

  .dropdown-menu .username{
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    padding: 10px;
    text-align: center;
    cursor: default;
    border-bottom: 1px solid #ccc;
  }
  
  .dropdown-item {
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.1rem;
    align-items: center;
    border-radius: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
  }
  