/* Dropdown.css */
.dropdown {
    position: relative;
}
  
.dropdown-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    top: 100%;
    right: 100%;
    width: 100px;
    z-index: 1;
    display: block;
    border: none;
    border-radius: 10px;
  }
  
  .dropdown-item {
    width: 100%;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
  }
  